[access]
	inheritFrom = webm
[receive]
	requireChangeId = true
[submit]
	mergeContent = true
[project]
[access "refs/*"]
	forgeAuthor = group webm-admins
	push = +force group webm-admins
	pushMerge = group webm-admins
[access "refs/heads/experimental"]
	forgeAuthor = group webm-admins
	forgeCommitter = group webm-admins
	push = group webm-admins
	pushMerge = group webm-admins
[access "refs/heads/vp9-preview"]
	exclusiveGroupPermissions = push
	push = deny group Registered Users
	push = deny group webm-committers
[label "Commit-Queue"]