[access]
	inheritFrom = webm
[receive]
	requireChangeId = true
[submit]
	mergeContent = true
[project]
[access "refs/*"]
	forgeAuthor = group webm-admins
	push = +force group webm-admins
	pushMerge = group webm-admins
	createTag = group webm-admins
	create = group webm-admins
[access "refs/for/refs/heads/nextgenv2"]
	exclusiveGroupPermissions = push
	push = deny group Logged-in Public Users
	push = deny group webm-committers
[access "refs/for/refs/heads/experimental"]
	exclusiveGroupPermissions = push
	push = deny group Logged-in Public Users
	push = deny group webm-committers
[access "refs/for/refs/heads/vp9-preview"]
	exclusiveGroupPermissions = push
	push = deny group Logged-in Public Users
	push = deny group webm-committers
[access "refs/heads/*"]
	create = group webm-releasers
[access "refs/heads/nextgenv2"]
	exclusiveGroupPermissions = submit
	submit = deny group Logged-in Public Users
	submit = deny group webm-committers
[label "Commit-Queue"]
[access "refs/heads/master"]
	exclusiveGroupPermissions = push submit
