[access]
	inheritFrom = webm
[receive]
	requireChangeId = true
[submit]
	mergeContent = true
[project]
[access "refs/*"]
	forgeAuthor = group webm-admins
	push = +force group webm-admins
	pushMerge = group webm-admins
[access "refs/heads/vp9-preview"]
	exclusiveGroupPermissions = push
	push = deny group Registered Users
	push = deny group webm-committers
[label "Commit-Queue"]
	function = NoBlock
	value =  0 test
	defaultValue = 0
[access "refs/heads/experimental"]
	exclusiveGroupPermissions = push
	push = deny group Registered Users
	push = deny group webm-committers
[access "refs/heads/nextgen"]
	exclusiveGroupPermissions = push
	push = group Registered Users
	push = group webm-committers
[access "refs/heads/nextgenv2"]
	push = group Registered Users
	push = group webm-committers
[access "refs/for/refs/heads/nextgenv2"]
	pushMerge = group webm-committers
[access "refs/heads/javanwhistlingduck"]
	pushTag = group webm-admins
